NEXT_PUBLIC_CHEC_PUBLIC_API_KEY=pk_49126fff2e2966cd69d76c4a9433071a7dabf30c0a6b3
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_GA_TRACKING_ID=
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=sk_491260f980d922817e1fbc9105434476c150f443fc03c
CHEC_API_URL=https://api.chec.io
